article .formAdd .formStyle button, article .ulPadre button, section .artUserCreate .formUserCreate .button, section .artUserUpdate .formUserUpdate .button {
  font-family: "Open Sans";
  font-size: 1em;
  cursor: pointer;
  padding: 2px 15px;
  border: 1px solid #1D72C2;
  border-radius: 2px;
  color: #ffffff;
  background-color: #1D72C2;
}

article .formAdd .formStyle button:hover, article .ulPadre button:hover, section .artUserCreate .formUserCreate .button:hover, section .artUserUpdate .formUserUpdate .button:hover {
  -webkit-box-shadow: black 1px 3px 5px;
          box-shadow: black 1px 3px 5px;
}

article .ulPadre .regions span span button, article .ulPadre .regions .country span span button, article .ulPadre .regions .country .cityList li div span button {
  margin-left: 1em;
  background-color: transparent;
  border: none;
  color: #1D72C2;
}

header {
  background-color: #1D72C2;
  height: 4em;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #ffffff;
  margin-left: 2em;
  margin-top: auto;
  margin-bottom: auto;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
}

header .navigation a {
  margin-right: 2em;
  font-family: "Open Sans";
  color: white;
  text-decoration: none;
}

.current a {
  border-bottom: 2px solid white;
  padding-bottom: 1.2em;
}

.artLogin {
  border: 1px solid #000000;
  border-radius: 10px;
  -webkit-box-shadow: black 3px 5px 10px;
          box-shadow: black 3px 5px 10px;
  display: block;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  text-align: center;
  margin: auto;
  margin-top: 10em;
}

.artLogin .titleLogin {
  font-family: "Open Sans";
  color: #000000;
  padding: 4em 6em 2em 6em;
}

.artLogin .formLogin .user {
  display: block;
  margin: auto;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 1.5em;
  font-family: "Open Sans";
}

.artLogin .formLogin .password {
  display: block;
  margin: auto;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  font-family: "Open Sans";
}

.artLogin .formLogin .button {
  cursor: pointer;
  font-family: "Open Sans";
  padding: 2px 15px;
  border: 1px solid #1D72C2;
  border-radius: 1px;
  color: #ffffff;
  background-color: #1D72C2;
  margin-left: 8em;
  margin-top: 3em;
  margin-bottom: 4em;
}

.artLogin .formLogin .button:hover {
  -webkit-box-shadow: black 1px 3px 5px;
          box-shadow: black 1px 3px 5px;
}

.bgOpacity {
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 0.8;
}

article {
  width: 80%;
  margin: 2em;
}

article .formAdd {
  display: none;
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
  position: absolute;
  z-index: 6;
  top: 20vh;
  right: 25vw;
  height: 60%;
  width: 50%;
  background-color: white;
  text-align: center;
  -webkit-box-shadow: black 1px 3px 5px;
          box-shadow: black 1px 3px 5px;
}

article .formAdd .formStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10em;
  font-family: "Open Sans";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: middle;
}

article .formAdd .formStyle label {
  display: block;
  text-align: center;
  padding-right: 0.8em;
  padding-left: 0.8em;
}

article .formAdd .formStyle input {
  font-family: "Open Sans";
  padding: .5em;
  padding-left: 1em;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

article .formAdd .formStyle select {
  color: #1D72C2;
  border-color: #1D72C2;
  border-radius: 4px;
  font-family: "Open Sans";
  margin-left: 0.8em;
}

article .formAdd .formStyle button {
  margin-left: 0.8em;
}

article .formAdd .fa-times {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  color: #1D72C2;
  font-size: 1.5em;
}

article .ulPadre .addRegion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  margin-left: 2em;
}

article .ulPadre .addRegion button {
  padding: .6em 2em;
}

article .ulPadre .regions {
  display: block;
  margin-left: 2em;
  margin-top: .5em;
  border: 1px solid #1D72C2;
  border-radius: 2px;
  padding-left: 1em;
}

article .ulPadre .regions span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article .ulPadre .regions span span {
  border: none;
}

article .ulPadre .regions span span button .fa-pen:hover {
  color: #1CC1F5;
}

article .ulPadre .regions span span button .fa-trash:hover {
  color: #DE0028;
  -webkit-box-shadow: none;
          box-shadow: none;
}

article .ulPadre .regions span span button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

article .ulPadre .regions .country {
  list-style: none;
  padding-left: 2em;
  margin-top: 1em;
}

article .ulPadre .regions .country span {
  border: 1px solid #1D72C2;
  border-radius: 2px;
  padding-left: 1em;
}

article .ulPadre .regions .country span span {
  border: none;
}

article .ulPadre .regions .country span span button .fa-pen:hover {
  color: #1CC1F5;
}

article .ulPadre .regions .country span span button .fa-trash:hover {
  color: #DE0028;
  -webkit-box-shadow: none;
          box-shadow: none;
}

article .ulPadre .regions .country span span button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

article .ulPadre .regions .country li {
  padding-top: .5em;
}

article .ulPadre .regions .country h3 {
  font-weight: 400;
}

article .ulPadre .regions .country .cityList {
  list-style: none;
  padding-left: 2em;
}

article .ulPadre .regions .country .cityList li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article .ulPadre .regions .country .cityList li div h4 {
  font-weight: 400;
}

article .ulPadre .regions .country .cityList li div span {
  border: none;
}

article .ulPadre .regions .country .cityList li div span button .fa-pen:hover {
  color: #1CC1F5;
}

article .ulPadre .regions .country .cityList li div span button .fa-trash:hover {
  color: #DE0028;
  -webkit-box-shadow: none;
          box-shadow: none;
}

article .ulPadre .regions .country .cityList li div span button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

hr {
  margin-top: 3em;
  border: 0 none #1D72C2;
  border-top: 2px solid #1D72C2;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Open Sans";
}

section .artUserCreate {
  display: block;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  text-align: center;
  margin-top: 2em;
  padding: 2em 4em;
}

section .artUserCreate .titleUserCreate {
  font-family: "Open Sans";
  color: #000000;
  padding: 4em 6em 2em 6em;
}

section .artUserCreate .formUserCreate .userCreate {
  display: block;
  margin-top: 1.5em;
  font-family: "Open Sans";
  text-align: center;
}

section .artUserCreate .formUserCreate .userCreate label {
  display: block;
  text-align: left;
  padding-left: 0.8em;
}

section .artUserCreate .formUserCreate .userCreate label::after {
  content: '*';
  color: #DE0028;
  font-size: 1em;
}

section .artUserCreate .formUserCreate .userCreate input {
  font-family: "Open Sans";
  padding: .5em;
  padding-left: 1em;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

section .artUserCreate .formUserCreate .require::after {
  content: 'Campo obligatorio';
  color: #DE0028;
  font-size: 0.7em;
  position: relative;
  top: -0.5em;
  left: -3em;
  text-align: left;
  font-style: oblique;
}

section .artUserCreate .formUserCreate .selectUser {
  width: 13.5em;
  padding: .5em;
  font-family: "Open Sans";
  border: 1px solid #1D72C2;
  background-color: transparent;
  border-radius: 4px;
  color: #1D72C2;
}

section .artUserCreate .formUserCreate .selectUser .option {
  border: none;
  padding: 5px;
}

section .artUserCreate .formUserCreate .button {
  margin-left: 8em;
  margin-top: 3em;
  margin-bottom: 2em;
}

section .artUserUpdate {
  display: block;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  text-align: center;
  margin-top: 2em;
  padding: 2em 4em;
}

section .artUserUpdate .titleUserUpdate {
  font-family: "Open Sans";
  color: #000000;
  padding: 4em 6em 2em 6em;
}

section .artUserUpdate .formUserUpdate .userUpdate {
  display: block;
  margin-top: 1.5em;
  font-family: "Open Sans";
  text-align: center;
}

section .artUserUpdate .formUserUpdate .userUpdate label {
  display: block;
  text-align: left;
  padding-left: 0.8em;
}

section .artUserUpdate .formUserUpdate .userUpdate input {
  font-family: "Open Sans";
  padding: .5em;
  padding-left: 1em;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

section .artUserUpdate .formUserUpdate .require::after {
  content: 'Campo obligatorio';
  color: #DE0028;
  font-size: 0.7em;
  position: relative;
  top: -0.5em;
  left: -3em;
  text-align: left;
  font-style: oblique;
}

section .artUserUpdate .formUserUpdate .selectUser {
  width: 13.5em;
  padding: .5em;
  font-family: "Open Sans";
  border: 1px solid #1D72C2;
  background-color: transparent;
  border-radius: 4px;
  color: #1D72C2;
}

section .artUserUpdate .formUserUpdate .selectUser .option {
  border: none;
  padding: 5px;
}

section .artUserUpdate .formUserUpdate .button {
  margin-left: 8em;
  margin-top: 3em;
  margin-bottom: 2em;
}

section .artAllUsers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60vw;
  margin-top: 3em;
}

section .artAllUsers table {
  width: 100%;
  text-align: left;
  border: 1px solid #ced4da;
}

section .artAllUsers table th {
  border-bottom: 1px solid #ced4da;
  padding-left: 1em;
  font-weight: 400;
  padding-top: 1em;
  padding-bottom: 1em;
}

section .artAllUsers table td {
  padding-left: 1em;
  font-size: .9em;
}

section .artAllUsers table td .fa-trash {
  color: #1D72C2;
}

section .artAllUsers table td .fa-trash:hover {
  color: #DE0028;
}

section .artAllUsers table th:last-child {
  text-align: right;
  padding-right: 1em;
}

section .artAllUsers table td:last-child {
  text-align: right;
  padding-right: 1em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Open Sans";
}

.fa-exchange-alt {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=styles.css.map */