.artLogin{
    border: 1px solid $black;
    border-radius: 10px;
    box-shadow: black 3px 5px 10px;
    display: block;
    max-width: min-content;
    text-align: center;
    margin:auto;
    margin-top: 10em;
    .titleLogin{
        font-family: $openSans;
        color: $black;
        padding: 4em 6em 2em 6em;
    }
    .formLogin{
        .user{
            display: block;
            margin: auto;
            border: 1px solid gray;
            border-radius: 4px;
            padding: 5px;
            margin-bottom: 1.5em;
            font-family: $openSans;
        }
        .password{
            display: block;
            margin: auto;
            border: 1px solid gray;
            border-radius: 4px;
            padding: 5px;
            font-family: $openSans;
        }
        .button{
            cursor: pointer;
            font-family: $openSans;
            padding: 2px 15px;
            border: 1px solid $blueFrance;
            border-radius: 1px;
            color: $white;
            background-color: $blueFrance;
            margin-left: 8em;
            margin-top: 3em;
            margin-bottom: 4em;
            &:hover{
                // border:1px gray solid;
                // background-color: gray;
                // color: black;
                box-shadow: black 1px 3px 5px;
            }
        }
    }
}