$openSans:'Open Sans';
$regular:400;
$bold:700;


$white:#ffffff;
$black:#000000;
$pink:#DE0028;
$board:#BB3E3F;
$green:#429C41;
$lightBlue:#8EC7FC;
$blueFrance:#1D72C2;
$blue:#0683F9;
$strongLigthBlue:#1CC1F5;
$orange:#FF6F00;
$yellow:#FFC700;
$whiteBone:#E8E8E8;
$greyInput:#ced4da;

%button{
    font-family: $openSans;
    font-size: 1em;
    cursor: pointer;
    padding: 2px 15px;
    border: 1px solid $blueFrance;
    border-radius: 2px;
    color: $white;
    background-color: $blueFrance;
    &:hover{
        box-shadow: black 1px 3px 5px;
    }
}
%buttonIcon{
    margin-left: 1em;
    background-color: transparent;
    border: none;
    color: $blueFrance;
}