$openSans:'Open Sans';
$regular:400;
$bold:700;


$white:#ffffff;
$black:#000000;
$pink:#DE0028;
$board:#BB3E3F;
$green:#429C41;
$lightBlue:#8EC7FC;
$blueFrance:#1D72C2;
$blue:#0683F9;
$strongLigthBlue:#1CC1F5;
$orange:#FF6F00;
$yellow:#FFC700;
$whiteBone:#E8E8E8;
$greyInput:#ced4da;

@keyframes moveRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100px);
    }
  }