@import './partials/_variables';
@import './partials/_header';
@import './partials/_login';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-family: $openSans;
}
.fa-exchange-alt{
    transform: rotate(90deg);
}